In [1]:
import pandas as pd 
import requests

In [2]:
df_17 = pd.read_csv("FIFA17_official_data.csv")
df_18 = pd.read_csv("FIFA18_official_data.csv")


df_17["Year"] = 2017
df_18["Year"] = 2018
df_18.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Best Position,Best Overall Rating,Release Clause,Year
0,176580,L. Suárez,30,https://cdn.sofifa.com/players/176/580/18_60.png,Uruguay,https://cdn.sofifa.com/flags/uy.png,92,92,FC Barcelona,https://cdn.sofifa.com/teams/241/light_30.png,...,38.0,27.0,25.0,31.0,33.0,37.0,CF,88.0,€198.9M,2018
1,178518,R. Nainggolan,29,https://cdn.sofifa.com/players/178/518/18_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,86,86,Roma,https://cdn.sofifa.com/teams/52/light_30.png,...,88.0,11.0,11.0,14.0,8.0,11.0,CDM,84.0,€72.3M,2018
2,203551,A. Florenzi,26,https://cdn.sofifa.com/players/203/551/18_60.png,Italy,https://cdn.sofifa.com/flags/it.png,82,83,Roma,https://cdn.sofifa.com/teams/52/light_30.png,...,78.0,9.0,8.0,10.0,11.0,10.0,CF,81.0,€37.3M,2018
3,197445,D. Alaba,25,https://cdn.sofifa.com/players/197/445/18_60.png,Austria,https://cdn.sofifa.com/flags/at.png,85,87,FC Bayern München,https://cdn.sofifa.com/teams/21/light_30.png,...,80.0,5.0,7.0,14.0,15.0,9.0,LB,82.0,€66.4M,2018
4,195864,P. Pogba,24,https://cdn.sofifa.com/players/195/864/18_60.png,France,https://cdn.sofifa.com/flags/fr.png,88,92,Manchester United,https://cdn.sofifa.com/teams/11/light_30.png,...,68.0,5.0,6.0,2.0,4.0,3.0,CM,85.0,€146.3M,2018

In [3]:
merged_df = pd.concat([df_17, df_18])
merged_df_clean = merged_df[["Year","ID","Name", "Age","Nationality","Overall","Potential","Club","Value","Best Position","Height","Weight","Wage","Jersey Number","Best Overall Rating","Preferred Foot"]]
merged_df_clean.head()

,Year,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Best Position,Height,Weight,Wage,Jersey Number,Best Overall Rating,Preferred Foot
0,2017,176580,L. Suárez,29,Uruguay,92,92,FC Barcelona,€83M,ST,6'0,190lbs,€525K,9.0,88.0,Right
1,2017,178518,R. Nainggolan,28,Belgium,86,86,Roma,€37.5M,CDM,5'9,143lbs,€130K,4.0,84.0,Right
2,2017,181872,A. Vidal,29,Chile,87,87,FC Bayern München,€41.5M,CDM,5'11,165lbs,€180K,23.0,85.0,Right
3,2017,197445,D. Alaba,24,Austria,86,89,FC Bayern München,€41.5M,LB,5'11,168lbs,€140K,27.0,84.0,Left
4,2017,195864,P. Pogba,23,France,88,94,Manchester United,€71.5M,CAM,6'3,185lbs,€225K,6.0,85.0,Right

In [4]:


# Remover los símbolos '€' y 'M' de la columna "Value"
merged_df_clean["Value"] = merged_df_clean["Value"].str.replace('€', '').str.replace('M', '')

# Convertir el valor a un número decimal
merged_df_clean["Value"] = pd.to_numeric(merged_df_clean["Value"], errors='coerce')

# Multiplicar el valor por 1000
merged_df_clean["Value"] = merged_df_clean["Value"] * 1000


merged_df_clean["Wage"] = merged_df_clean["Wage"].str.replace('€', '').str.replace('K', '')

merged_df_clean["Wage"] = pd.to_numeric(merged_df_clean["Wage"], errors='coerce')

merged_df_clean["Wage"] = merged_df_clean["Wage"] * 1000

merged_df_clean["Weight"] = merged_df_clean["Weight"].str.removesuffix("lbs")


merged_df_clean.head()

C:\Users\Fer\AppData\Local\Temp\ipykernel_38148\4079629115.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_clean["Value"] = merged_df_clean["Value"].str.replace('€', '').str.replace('M', '')
C:\Users\Fer\AppData\Local\Temp\ipykernel_38148\4079629115.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_clean["Value"] = pd.to_numeric(merged_df_clean["Value"], errors='coerce')
C:\Users\Fer\AppData\Local\Temp\ipykernel_38148\4079629115.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_clean["Value"] = merged_df_clean["Value"] * 1000
C:\Users\Fer\AppData\Local\Temp\ipykernel_38148\4079629115.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_clean["Wage"] = merged_df_clean["Wage"].str.replace('€', '').str.replace('K', '')
C:\Users\Fer\AppData\Local\Temp\ipykernel_38148\4079629115.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_clean["Wage"] = pd.to_numeric(merged_df_clean["Wage"], errors='coerce')
C:\Users\Fer\AppData\Local\Temp\ipykernel_38148\4079629115.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_clean["Wage"] = merged_df_clean["Wage"] * 1000
C:\Users\Fer\AppData\Local\Temp\ipykernel_38148\4079629115.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_clean["Weight"] = merged_df_clean["Weight"].str.removesuffix("lbs")

,Year,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Best Position,Height,Weight,Wage,Jersey Number,Best Overall Rating,Preferred Foot
0,2017,176580,L. Suárez,29,Uruguay,92,92,FC Barcelona,83000.0,ST,6'0,190,525000,9.0,88.0,Right
1,2017,178518,R. Nainggolan,28,Belgium,86,86,Roma,37500.0,CDM,5'9,143,130000,4.0,84.0,Right
2,2017,181872,A. Vidal,29,Chile,87,87,FC Bayern München,41500.0,CDM,5'11,165,180000,23.0,85.0,Right
3,2017,197445,D. Alaba,24,Austria,86,89,FC Bayern München,41500.0,LB,5'11,168,140000,27.0,84.0,Left
4,2017,195864,P. Pogba,23,France,88,94,Manchester United,71500.0,CAM,6'3,185,225000,6.0,85.0,Right

In [5]:

merged_df_clean["Club"].fillna("Free Agent",inplace=True)
merged_df_clean.fillna(0)   

merged_df_clean["Club"].info()

C:\Users\Fer\AppData\Local\Temp\ipykernel_38148\3261111024.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df_clean["Club"].fillna("Free Agent",inplace=True)

<class 'pandas.core.series.Series'>
Int64Index: 35487 entries, 0 to 17926
Series name: Club
Non-Null Count  Dtype
--------------  -----
35487 non-null  object
dtypes: object(1)
memory usage: 554.5+ KB

In [6]:
merged_df_clean.to_csv("Merged_Table.csv", index=False)